*{
    font-family: "Rajdhani",sans-serif;
    letter-spacing: 2px;
}
body{
    margin: 0;
    padding: 0;
    background: #1b1b1b;
}
nav{
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    transition: all 0.1s ease;
    z-index: 1000;
}
nav:hover{
    background: rgba(0, 0, 0,0.8);
}
.logo{
    width: 60%;
    display: flex;
    align-items: center;
}
.logo img{
    margin-left: 20px;
}
nav .nav-items{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-scrolled {
    background: rgb(0, 0, 0);
  }

.nav-items a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    transition: all 0.4s linear;
}

.content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    color: white;
    font-size: 80px;
    text-align: center;
    margin: 0;
}
.content div{
    text-align: center;
}
.image-container {
    width: 600px; 
    height: 400px; 
    overflow: hidden; 
    position: relative;
}

.image-container img {
    width: 100%; 
    height: auto;
    transition: transform 0.3s ease; 
}
.image-container:hover img {
    transform: scale(1.1); /* Zoom image on hover */
}
.ceremony{
    padding: 0;
}
.ceremony h2{
    color: white;
    margin: 2px;
    padding: 0;
}

.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus p{
    font-size: 20px;
    color: white;
    text-align: center;
}
.more{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more p{
    padding: 30px 40px;
}

footer{
    width: 100%;
    height: 400px;
    bottom: 0;
    background: #121010;
    display: flex;
    justify-content: space-around;
    color: white;
}
.foot{
    width: 50%;
    margin: 10px 20px;
}

.f1{
    display: flex;
    justify-content: space-around;
    border-right: 2px dashed ;
}
.f1 div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.f1 .address h2{
    align-self: center;
}
h4{
    margin: 10px 0px;
}
.f1 .address span{
    padding: 0  30px;
}

.f1 .contact{
    align-items: center;
}

.contact span:last-child{
    margin-top: 60px;
}
.follow div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.follow span{
    margin-top: 20px;
}
.follow a{
    text-decoration: none;
    color: aliceblue;
}
 a:hover{
    color: orangered;
}
.f2{
    display: flex;
    justify-content: space-evenly;
}
.foot-nav-items{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 30px;
}
.foot-nav-items a{
    text-decoration: none;
    color: aliceblue;
    margin-top: 10px;
}
.foot-nav-items a:hover{
    color: orangered;
}
.copyright{
    width: 100%;
    height: 50px;
    background: #121010;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #343333;
}
  ::-webkit-scrollbar-thumb {
    background: #e43d4b;
}
  