* {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.preloader {
  background: #f5cd7b url("../../Images/loader.gif") no-repeat center center;
  background-size: 20%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
}

.nav-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  top: 0;
  transition: all 0.4s linear;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 5px black;
  z-index: 1000;
}

.items {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.items a {
  margin-right: 60px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline 1.5px rgba(255, 255, 255, 0);
}

.nav-bar .login {
  margin-right: 20px;
}
.profile {
  background-color: #ffce96;
  padding: 10px 16px;
  border-radius: 20px;
}
.profile:hover {
  background: #ffc37e;
}
.login .profile .user a {
  text-decoration: none;
  color: #000;
}
.down-cont {
  display: none;
  margin-top: 10px;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.down-cont a {
  color: rgb(0, 0, 0);
  margin: 10px 6px;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  font-weight: 500;
}
.down-cont a:hover {
  background-color: #dadada;
}
.dropdown:hover .down-cont {
  display: block;
}

.btn-login {
  padding: 10px 30px;
  box-shadow: 0 0 4px black;
  border: 0;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #bb0120;
}

button:hover {
  background-color: #910805;
  color: rgb(255, 255, 255);
}


.img-container {
  position: -webkit-sticky;
}

.img-container img {
  width: 100%;
  height: 100vh;
}

.img-container .text-info {
  position: absolute;
  margin-top: -500px;
  margin-left: 200px;
  z-index: 100;
}

.text-info p {
  font-size: 30px;
  color: white;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.text-info p:hover {
  text-shadow: 0 0 40px rgb(0, 0, 0);
}

.text-info b {
  font-size: 50px;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  border-radius: 2px;
  top: 45%;
  transform: translateY(-60%);
  background: transparent;
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.next-arrow:hover,
.prev-arrow:hover {
  background-color: brown;
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.cont-info {
  margin: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.cont-info .cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  border: 0 solid black;
  transition: all 0.8s ease;
  transition-delay: 0ms;
}

.cont-info .cont:hover {
  background-color: rgba(171, 171, 171, 0.388);
  border: 10px black;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.pic img {
  width: 500px;
  height: 80%;
  position: relative;
  box-shadow: 0 0 4px rgb(0, 0, 0);
  transition: all 1.6s ease-in-out;
}

.cont:hover img {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.pic-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: start;
  margin-right: 20px;
  color: rgb(0, 0, 0);
}

.pic-info p {
  font-weight: 450;
  font-size: 20px;
  margin: 0 40px;
}

.container1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: rgb(255, 191, 108);
}

.container1 img {
  position: relative;
  width: 10%;
  height: 25%;
  box-shadow: black;
  transition: all 0.6s ease-in-out;
  margin: 1px;
}

.container1 .cardio {
  width: 70%;
  height: 100%;
}

.slogan {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.slogan h1 {
  font-weight: 700;
}

.slogan h2 {
  color: rgb(236, 72, 46);
  align-items: baseline;
}

.slogan span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  font-size: 20px;
}

footer {
  height: 300px;
  background-color: #910805;
}

._footer .links {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._footer a{
  text-decoration: none;
}

._footer .links .media {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

._footer .links .media:hover {
  cursor: pointer;
  background-color: #ededed;
}

._footer ._info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

._footer .contact {
  width: 50%;
  margin-left: 28%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

._footer .contact a,
._footer ._info a {
  text-decoration: none;
  color: white;
}

.contact a:hover {
  color: rgb(0, 0, 0);
}

._footer ._logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

._footer ._logo div {
  width: 180px;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 550px;
  border-bottom-right-radius: 800px;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 800px;
}

.copyright {
  width: 100%;
  height: 50px;
  background: #800805;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c1c0c0;
}

::-webkit-scrollbar-thumb {
  background: #b7110c;
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
  .nav-bar {
    height: 60px;
  }

  .logo {
    margin-left: 5px;
  }

  .items {
    display: none;
  }

  .nav-bar .login {
    margin-right: 10px;
  }

  .nav-bar .logo {
    margin-left: 10px;
  }

  .nav-bar .items > a,
  .dropdown > a {
    margin-right: 10px;
  }

  .img-container img {
    height: 200px;
  }

  .cont-info .cont {
    height: auto;
  }

  .cont-info .cont img {
    width: 100%;
    height: auto;
  }

  .container1 img {
    width: 100%;
    height: auto;
  }

  .slogan {
    height: 15vh;
  }

  .slogan h1 {
    font-size: 1.2em;
  }

  .slogan h3 {
    font-size: 0.8em;
  }

  .slogan span {
    font-size: 0.7em;
  }
}
