body {
  font-family: "Rajdhani", sans-serif !important;
  letter-spacing: 2px;
  margin: 0;
  padding: 0px;
  background-color: #f4f4f4;
}

nav {
  background-color: whitesmoke ;
  display: flex;
  height: 100px;
}

.logo {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  margin-left: 40px;
}

.items {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
}
.items li:nth-child(1) a{
    color: inherit;
    text-decoration: none;
}
.items li:nth-child(1) a:hover{
    cursor: pointer;
    box-shadow: none;
}
.items li {
  list-style-type: none;
}

.items  li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  padding: 10px 20px;
}

.items li a:hover {
  box-shadow: 1px 6px 6px rgb(11, 2, 1);
}

.info{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.head{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service , .service2{
    width: 100%;
    background-color: whitesmoke;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.service div , .service2 div{
    text-align: center;
    width: 350px;
    height: 220px;
}
.service div img , .service2 div img{
    margin-top: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 3px black;
    transition: all 0.6s ease-in-out;
}
.service div img:hover ,.service2 div img:hover{
    box-shadow: 0 0 10px black;
    border-top-left-radius: 10px;
}
.service div .span , .service2 div .span{
    letter-spacing: 1px;
    padding: 20px 20px;
    padding-top: 40px;
    border: 0px solid black;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 5px black;
    background-color: rgb(208, 154, 172);
}
.info .span p{
    font-size: 16px;
    font-weight: 500;
}
.service2{
    margin-top: 50px;
    justify-content: space-evenly;
}

footer{
    width: 100%;
    height: 200px;
    margin: 0;
    background-color: #949393;
    margin-top: 20px;
}