* {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  background-image: url("./../../Images/gym-img2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body a {
  text-decoration: none;
  color: white;
}

nav {
  background: #ffffff;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px black;
  top: -60px;
  transition: top 1.1s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  margin-left: 20px;
}

.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  margin-right: 20px;
}

.items a {
  text-decoration: none;
  color: #1414149e;
  font-size: 17px;
  font-weight: 600;
}

.items a:hover {
  color: black;
}

.items ._contact {
  background-color: #bb0120;
  padding: 10px 26px;
  color: #ffffff;
  border-radius: 30px;
}

.items ._contact:hover {
  color: white;
  background-color: #910805;
}

.head {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


/* services */
.service {
  width: 100%;
  height: auto;
  padding: 60px 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 70px;
}

.service div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  text-align: center;
}

.service div ._card {
  width: 100%;
  margin-top: 20px;
  height: auto;
  border-radius: 20px;
  background-color: #bb0120;
  transition: all 0.8s ease;
}

.service div ._card:hover{
  transform: translateY(-4px);
  box-shadow: 0 10px 20px black;
}

.service div ._card img {
  border-top-right-radius: 20px;
  box-shadow: 0 0 3px black;
  transition: all 0.4s ease-in-out;
}

.service div ._card:hover img{
  border-top-left-radius: 20px;
}

.service div ._card .span {
  letter-spacing: 1px;
  padding: 20px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(17, 16, 17);
} 

.info  p {
  font-size: 16px;
  font-weight: 500;
}

/* footer */

footer {
  height: auto;
  background-color: #910805;
}

._footer .links {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._footer .links .media {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

._footer .links .media:hover {
  cursor: pointer;
  background-color: #ededed;
}

._footer ._info {
  width: 100%;
  height: auto;
  padding: 20px 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._footer .contact {
  width: 50%;
  margin-left: 28%;
  padding: 10px 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact a:hover {
  color: rgb(0, 0, 0);
}

._footer ._logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

._footer ._logo div {
  width: 180px;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 550px;
  border-bottom-right-radius: 800px;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 800px;
}

._footer .copyright {
  width: 100%;
  height: 50px;
  background-color: #800805;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c1c0c0;
}

::-webkit-scrollbar-thumb {
  background: #b7110c;
}