body {
    letter-spacing: 2px;

    display: flex;

    background-image: url("../../Images/log-bg-img.jpg");

    background-size: cover;

    background-repeat: no-repeat;
}

#preLoader {
    background: #000000 url("../../Images/loader.gif") no-repeat center center;

    background-size: 20%;

    width: 100%;

    height: 100vh;

    position: fixed;

    z-index: 100;
}

#perent {
    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-top: 60px;
}

.signup {
    display: flex;

    flex-direction: column;

    width: 540px;

    height: 680px;

    background: transparent;

    backdrop-filter: blur(90px);

    border-radius: 5px;

    color: white;

    font-family: "Rajdhani", sans-serif;

    box-shadow: 0 0 40px black;
}

.signup span:nth-child(1) a i {
    position: absolute;

    margin-left: 500px;

    margin-top: 20px;

}

.signup h2 {
    text-align: center;
}

.inputs {
    display: flex;

    flex-direction: column;

    align-items: center;

    column-gap: 20px;
}

.inputs input {
    border: none;

    background: none;

    outline: none;

    border-bottom: 2px solid black;

    width: 300px;

    margin-top: 30px;

    color: white;
}

.inputs input:focus {
    border-bottom: 2px solid rgb(0, 140, 255);
}
.inputs span .error-msg{
    margin-top: 2px;
    font-size: 11px;
    font-weight: 600;
}
.inputs span i {
    position: absolute;

    margin-top: 28px;

    margin-left: -20px;
}

.error-msg {
    position: relative;

    height: 10px;

    width: fit-content;

    font-size: 10px;

    color: rgb(255, 0, 0);
}

.haveaccount {
    margin-top: 14px;

    display: flex;

    justify-content: center;

    align-items: center;
}

.haveaccount a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.haveaccount i {
    margin-left: 4px;
}

.signup-btn {
    display: flex;

    justify-content: center;

    margin-top: 20px;

    width: 100%;
}

.signup-btn button {
    width: 50%;

    border: 0px;

    font-family: "Rajdhani", sans-serif;

    font-size: 20px;

    font-weight: 500;

    padding: 10px 20px;

    background: #bb0120;

    box-shadow: 0 0 10px black;
}

.signup-btn button:hover {
    background-color: #000;

    color: #fff;
}

.account-existance{
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    color: red;
    background-color: #000;
}

.gym-name {
    align-self: center;

    width: 80%;

    margin-top: 16px;

    height: auto;

    display: flex;

    justify-content: center;

    align-items: center;

    box-shadow: 0 0 10px black;

    background: transparent;
}

.gym-name h3 {
    padding: 16px 16px;

    color: #fff;
}

/* Your existing CSS code... */

@media only screen and (max-width: 544px) {
    #perent {
        margin-top: 30px;
        margin: 0px;
        background: none;
    }

    .signup {
        width: 100%;

        height: auto;
        background-color: transparent;
        box-shadow: none;
    }

    .signup span:nth-child(1) a i {
        margin-left: 90%;

        margin-top: 20px;
    }

    .inputs span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .inputs span i {
        position: relative;
    }

    .inputs input {
        width: 80%;


    }

    .signup-btn button {
        width: 80%;
    }
}