body {
  margin: 0;

  padding: 0;

  letter-spacing: 2px;

  background: #ffffff;
}

.preloader1 {
  background: #fed790 url("../../Images/loader.gif") no-repeat center center;

  background-size: 20%;

  width: 100%;

  height: 100vh;

  position: fixed;

  z-index: 1000;
}


.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    z-index: 10;
    height: 40px;
    padding: 10px 40px;
  }


#perent {
  width: 100%;

  display: flex;

  justify-content: center;

}


.signup {
  display: flex;

  flex-direction: column;

  width: 540px;

  background: transparent;

  border-radius: 5px;

  color: rgb(0, 0, 0);

  font-family: "Rajdhani", sans-serif;

}


.signup h1 {
  text-align: center;
}

.inputs {
  display: flex;

  flex-direction: column;

  align-items: center;

}

.inputs input {
  background: transparent;

  height: 30px;

  border: 2px solid rgb(164, 121, 255);

  box-shadow: 2px 2px 2px rgb(164, 121, 255);

  padding: 5px 10px;

  width: 300px;

  font-family: "Rajdhani",sans-serif;

  border-radius: 5px;

  font-weight: 550;

  margin-top: 20px;

  color: rgb(0, 0, 0);
}
.inputs input::placeholder{
    color: #000000;
    font-family: "Rajdhani",sans-serif;
    font-weight: 500;
}

.inputs input:focus {
    background: none;
    outline: none;
    border: 2px solid rgb(0, 94, 201);
    box-shadow: 2px 2px 2px rgb(0, 94, 201);
}



.inputs span .error-msg {
  width: 100%;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
  font-size: 11px;
  font-weight: 600;
}
.inputs span i {
  position: absolute;

  margin-top: 35px;

  margin-left: -25px;
}

.error-msg {
  position: relative;

  height: 10px;

  width: fit-content;

  font-size: 10px;

  color: rgb(255, 0, 0);
}

.haveaccount {
  margin-top: 20px;

  display: flex;

  justify-content: center;

  align-items: center;

}

.haveaccount a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 550;
}
.haveaccount a:hover{
  color: rgb(27, 69, 178);
}

.haveaccount i {
  margin-left: 4px;
}

.signup-btn {
  display: flex;

  justify-content: center;

  margin-top: 40px;

  width: 100%;
}

.signup-btn button {
  width: 60%;

  border: 0px;

  font-family: "Rajdhani", sans-serif;

  font-size: 22px;

  font-weight: 500;

  padding: 10px 20px;

  background: #bb0120;

  color: #ffffff;

  box-shadow: 0 0 5px black;
}

.signup-btn button:hover {
  background-color: #910805;
  color: rgb(255, 255, 255);
}

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 200, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#preloader p {
  color: rgb(0, 0, 0);
  font-size: 24px;
}


.account-existance {
  align-self: center;
  font-weight: 500;
  padding: 0px 10px;
  color: red;
}




/* Your existing CSS code... */

@media only screen and (max-width: 544px) {
  #perent {
    margin-top: 30px;
    margin: 0px;
    background: none;
  }

  .signup {
    width: 100%;

    height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .signup span:nth-child(1) a i {
    margin-left: 90%;

    margin-top: 20px;
  }

  .inputs span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputs span i {
    position: relative;
  }

  .inputs input {
    width: 80%;
  }

  .signup-btn button {
    width: 80%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #343333;
}
::-webkit-scrollbar-thumb {
  background: #e43d4b;
}
