body {
  margin: 0px;

  letter-spacing: 2px;

  display: flex;

  background: #100010;

  background-size: cover;

  background-repeat: no-repeat;
}

.preloader1 {
  background: #000000 url("../../Images/loader.gif") no-repeat center center;

  background-size: 20%;

  width: 100%;

  height: 100vh;

  position: fixed;

  z-index: 100;
}


.x{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-left: -40px;
    width: 100%;
    height: 30px;
    position: fixed;
  }

#perent {
  width: 100%;

  padding: 10px 20px;

  display: flex;

  justify-content: center;

  margin-top: 20px;

}


.signup {
  display: flex;

  flex-direction: column;

  width: 540px;

  background: transparent;

  border-radius: 5px;

  color: white;

  font-family: "Rajdhani", sans-serif;

}


.signup h1 {
  text-align: center;
}

.inputs {
  display: flex;

  flex-direction: column;

  align-items: center;

  column-gap: 20px;
}

.inputs input {
  background: transparent;

  height: 30px;

  border: 2px solid rgba(164, 121, 255, 0.863);

  padding: 5px 10px;

  width: 300px;

  font-family: "Rajdhani",sans-serif;

  border-radius: 5px;

  font-weight: 550;

  margin-top: 20px;

  color: white;
}
.inputs input::placeholder{
    color: #fff;
    font-family: "Rajdhani",sans-serif;
    font-weight: 500;
}

.inputs input:focus {
    background: none;
    outline: none;
  border: 2px solid rgb(0, 140, 255);
}



.inputs span .error-msg {
  width: 100%;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
  font-size: 11px;
  font-weight: 600;
}
.inputs span i {
  position: absolute;

  margin-top: 35px;

  margin-left: -25px;
}

.error-msg {
  position: relative;

  height: 10px;

  width: fit-content;

  font-size: 10px;

  color: rgb(255, 0, 0);
}

.haveaccount {
  margin-top: 20px;

  display: flex;

  justify-content: center;

  align-items: center;

}

.haveaccount a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #000;
  padding: 10px 20px;
}

.haveaccount i {
  margin-left: 4px;
}

.signup-btn {
  display: flex;

  justify-content: center;

  margin-top: 20px;

  width: 100%;
}

.signup-btn button {
  width: 50%;

  border: 0px;

  font-family: "Rajdhani", sans-serif;

  font-size: 22px;

  font-weight: 500;

  padding: 10px 20px;

  background: #bb0120;

  box-shadow: 0 0 10px black;
}

.signup-btn button:hover {
  background-color: #000;

  color: #fff;
}

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader p {
  color: white;
  font-size: 24px;
}

.account-existance {
  align-self: center;
  font-weight: 500;
  padding: 0px 10px;
  color: red;
  background-color: #000;
}

.gym-name {
  align-self: center;

  width: 80%;

  margin-top: 16px;

  height: auto;

  display: flex;

  justify-content: center;

  align-items: center;

  box-shadow: 0 0 10px black;

  background: transparent;
}

.gym-name h3 {
  padding: 16px 16px;
  color: #fff;
}

/* Your existing CSS code... */

@media only screen and (max-width: 544px) {
  #perent {
    margin-top: 30px;
    margin: 0px;
    background: none;
  }

  .signup {
    width: 100%;

    height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .signup span:nth-child(1) a i {
    margin-left: 90%;

    margin-top: 20px;
  }

  .inputs span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputs span i {
    position: relative;
  }

  .inputs input {
    width: 80%;
  }

  .signup-btn button {
    width: 80%;
  }
}
